---
import { Image } from "astro:assets";
import type { ImageMetadata } from 'astro';
import moleculeImg from "../assets/molecule.png";

interface Props {
    alt?: string;
}

const { alt = "Molecular structure visualization" } = Astro.props;
---

<div class="molecule-container">
    <Image 
        src={moleculeImg}
        alt={alt}
        class="molecule"
    />
</div>

<style is:global>
    .molecule-container {
        width: 30rem;
        height: 30rem;
    }

    .molecule {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media (max-width: 768px) {
        .molecule-container {
            width: 90%;
            height: auto;
            aspect-ratio: 1;
            margin: 2rem auto 0;
            grid-column: unset;
            grid-row: unset;
        }
    }
</style>
